.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 5px;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 1rem;
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}
